#home {
    position: absolute;
    top:65px ;
    left:600px ;
    background-color: orange;
    width: max-content ;
    
}

#about {
    position: absolute;
    top:65px ;
    left: 740px ;
    background-color: orange;
    width: max-content ;
}

#product {
    position: absolute;
    top:65px ;
    left:880px ;
    background-color: orange;
    width: max-content ;
}

#logout {
    position: absolute;
    top: 10px;
    left: 1400px;
    width: max-content;
}